<div class="card">
    <h4 class="card-header" style="background-color: lightskyblue;">Balance Information</h4>
    <div class="card-body">
            <div class="table-responsive">
                <label style="font: bold;" for="firstName">Name: {{client.firstName}} {{client.lastName}}</label><br>
                <table class="table table-light">
                    <thead>
                        <tr>
                            <th>Sn</th>
                            <th>Account Number</th>
                            <th>Branch</th>
                            <th>Account Type</th>
                            <th>Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of client.accList; let i = index">
                            <td>
                                {{i + 1}}
                            </td>
                            <td>
                                {{item.accountNumber}}
                            </td>
                            <td>
                                {{item.bholder.branchName}}
                            </td>
                            <td>
                                {{item.tholder.typeName}}
                            </td>
                            <td>
                                $ {{item.balance}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
</div>


