<div class="card">
	<h4 class="card-header" style="background-color: lightskyblue;">Fund Transfer</h4>
	<div class="card-body">

		<label for="">From Account:</label><br>
		<select id=transferFrom>
			<option value=-1> Select account</option>
			<option *ngFor="let temp of client.accList" value={{temp.accountNumber}}>{{temp.accountNumber}}</option>
		</select>
		<br>
		<br>
		<label for="">To Account:</label><br>
		<select id=transferTo>
			
			<option value=-1> Select account</option>
			<option *ngFor="let temp of client.accList" value={{temp.accountNumber}}>{{temp.accountNumber}}</option>
		</select>
		<br>
		<br>
		<form #form="ngForm">
			<h6> Amount to transfer: </h6>
			<input name = "amount" #amount = 'ngModel' type="number" min=0 [(ngModel)]='formModel.amount'><br><br>
			<button class="btn btn-primary" (click)="onClick(formModel)">Transfer</button>
		</form>
	</div>
</div> 