<div class="card">
    <h4 class="card-header" style="background-color: lightskyblue;">New Account</h4>
    <div class="card-body">
        <form [formGroup]="service.accModal" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label style="color: rgb(28, 13, 238); font-size: 30px;" >Name: {{client.firstName}} {{client.lastName}}</label>
            </div>
            <div class="form-group">
                <label for="validationServer07" class="form-label">Account Type</label>
                <select formControlName="accountType" id="type" name="accountType" class="form-control">
                    <option selected>Select Account Type</option>
                    <option value="2">Saving</option>
                    <option value="1">Checking</option>
                </select>
            </div>
            <div class="form-group">
                <label for="validationServer08" class="form-label">Branch Location</label>
                <select formControlName="branch" id="branch" name="branch" class="form-control">
                    <option selected>Select Branch</option>
                    <option value="1">Dallas, Texas</option>
                    <option value="2">Houston, Texas</option>
                    <option value="3">San Antonio, Texas</option>
                </select>
            </div>
            <div class="form-check">
                <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3"
                    aria-describedby="invalidCheck3Feedback" required>
                <label class="form-check-label" for="invalidCheck3">
                    Agree to terms and conditions
                </label>
                <div id="invalidCheck3Feedback" class="invalid-feedback">
                    You must agree before submitting.
                </div>
            </div>
            <div class="form-group">
                <button  class="btn btn-primary">
                    <span  class=" spinner-border-sm mr-1"></span>
                    Create New Account
                </button>
                <a routerLink="../viewprofile" class="btn btn-link">Cancel</a>
            </div> 
        </form>
    </div>
</div>


