<div class="card">
    <h4 class="card-header">Login</h4>
    <div class="card-body">
        <form #form='ngForm' autocomplete="off" (submit) ="onSubmit(form)">
            <div class="form-group">
                <label for="username">Username</label>
                <input #username="ngModel" id = 'username' name = "username" [(ngModel)]="formModel.username" class="form-control" required />
              
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input #password="ngModel" id='password' name="password" [(ngModel)]="formModel.password" type="password" class="form-control" required/>
              
            </div>
            <div class="form-group">
                <button id = "loginButton" class="btn btn-primary">
                    <span  class=" spinner-border-sm mr-1"></span>
                    Login
                </button>
                <a id="register-link"routerLink="../register" class="btn btn-link">Register</a>
                 <a id = "forgotpassword" routerLink="../forgotpassword" class="btn btn-link">I Forgot my Password</a>
            </div>
        </form>
    </div>
</div>


